@charset "utf-8";
/* CSS Document */
.check
{
	display: inline-block;
    line-height: 0;
    vertical-align: middle;
    margin-left: 5px;
}
.icon-asterisk
{color: red !important;}
#basicSlot
{display:block;}

	.approved
	{
	
	color:#FF0000;}
	.skin-blue .sidebar-menu > li > a:active
	{
		color:#FFFFFF !important;
	}
	.activeClass
	{
		color:#FFFFFF !important;
		font-weight:bold;
	}

	.AlignFormCenter
	{
	background-color:#f5f5f5;
	padding:10px;
	border-radius:5px;
	}
	.hiddenField
	{
		display:none;
	}
	.hiddenFieldPostal
	{
		display:none;
	}
	
   .hiddenFieldPostal1
	{
		display:none;
	}
	
	.hiddenFieldPostalSellerLandlord
	{
		display:none;
	}
	.error
	{
		font-weight:normal;
		font-size:14px;
		color:#F00;
	}
	.errorDiv
	{
		display:none;
	}
	#ajaxCall
	{
		display:none;
	}
	.container{
	display:table;
	width:90%;
	border-collapse: collapse;
	}
	.heading{
	font-weight: bold;
	display:table-row;
	background-color:#C91622;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	font-family:georgia;
	color:#fff;
	
	}
	.table-row{  
	display:table-row;
	/*text-align: center;*/
	}
	.col{
	display:table-cell;
	border: 1px solid #CCC;
	padding-left:20px;
	}
 .showPopup
 {
	background-color: #999999;
    border: 2px solid #666;
    border-radius: 5px;
    color: #fff;
    display: none;
   /* font-weight: bold;*/
    left: 25%;
   /* opacity: 0.9;*/
    padding: 13px;
    position: fixed;
    text-align: left;
    top: 10%;
    width: 60%;
	z-index:9999999;
	overflow: scroll;
	max-height:500px;
	
 }
  .showPopup a
  {
	  text-decoration:none;
	  color:#fff;
	  margin-right:33px;
  }
   
 .showImagePopup
 {
	background-color: #999999;
    border: 2px solid #666;
    border-radius: 5px;
    color: #fff;
    display: none;
   /* font-weight: bold;*/
    left: 25%;
	right:25%;
   /* opacity: 0.9;*/
    padding: 13px;
    position: fixed;
    text-align: left;
    top: 5%;
    overflow:scroll;
    height:85%;
	
   text-align:center;
	z-index:9999999;
	
 }
  .showImagePopup a
  {
	  text-decoration:none;
	  color:#fff;
	  margin-right:33px;
  }
  
  #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  display:none;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.say_it2
{

cursor:pointer;
}