@charset "utf-8";
/* CSS Document */
.parsley-required , .parsley-type , .parsley-length , .parsley-maxlength, .parsley-equalto , .parsley-pattern, .parsley-palindrome , .failure
{
	color: #F1090D;
	font-size: 13px;
	text-decoration: none;
	margin: 3px -33px;
	list-style: none;
}

  